RewriteEngine On

# Jika file atau folder ada, akses langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request lain → index.php
RewriteRule ^(.*)$ index.php [QSA,L]
